div{
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100px;
    display:inline-block;
    margin-left: 5px;
    background-color: red;
    text-align: center;

}
.cuadrado-1{
    opacity: 1;
}
.cuadrado-2{
    opacity: 0.5;
    text-decoration: underline;
}
.vacio{
    background-color: white;
    color: white;
}
.cuadrado-negro{
    background-color: black;
    opacity: 0.1;
    text-transform: uppercase;
    color: white;
}
