div{
    height: 100px;
    width: 100px;
    display:inline-block;
    margin-left: 5px;

}
.cuadrado{
    padding: 0;
    margin: 0;
    background-color:red;
    
}
.vacio{
    display: hidden;
}
.cuadrado-negro{
    background-color: black;
}